@tailwind base;
@tailwind components;
@tailwind utilities; 

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin: auto 0;
    text-align: center;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    display: inline-block;
    margin-right: 50px; /* Increase the margin to create more space */
  }

a{
    text-align: center;
}

nav{
    text-align: center;
}   

code1{
    text-weight: bold;
    color: white;
}